<div class="fade-in">
	<div class="row" style="padding-top: 16px; margin-left: 16px; margin-right: 16px;" *ngIf="clan">
		<div class="col-sm-12 clan-holder" [ngStyle]="{'background-image': 'url(https://www.bungie.net'+ clan.background +')'}">
			<div class="clan-info-holder">
				<img class="img-responsive" src="{{'https://www.bungie.net' + clan.icon}}" style="max-height: 72px; display: inline-block">
				<div class="clan-text-holder">
					<div class="clan-title-holder">{{clan.name}}
					</div>
					<div class="clan-motto-holder">{{clan.description}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<member-list (selectedMember)="selectedMember($event)" title="Members" showTitleBar="true" *ngIf="members" [members]="members" [total]="total"></member-list>
</div>
