<form class="fade-in">
		<div class="form-group" style="padding-left: 16px; padding-right: 16px;">
		<label class="control-label" for="type">Game type:</label>
			<select [(ngModel)]='selectedType' (change)="onChange($event.target.value)" class="form-control" id="gameType" name="gameType">
				<option value="0">All</option>
				<option *ngFor="let type of types | orderbyName: 'type.en'" value={{type.id}}>{{type.en}}</option>
			</select>
	</div>
</form>
<game-list (selectedGame)="selectedGame($event)" title="Finished events" *ngIf="games && games.length > 1" [games]="filteredList"></game-list>
<div *ngIf="!filteredList || filteredList.length < 1" class="empty-list">There is no event available of this type</div>
