<tab-holder>
	<tab tabTitle="recent">
		<game-list title="Recent events" *ngIf="games; else loading" [games]="recentGames"></game-list>
		<ng-template #loading><h3>Carregando...</h3></ng-template>
	</tab>
	<tab tabTitle="scheduled"><game-list title="Scheduled events" *ngIf="games" [games]="scheduledGames"></game-list></tab>
	<tab tabTitle="finished">
		<game-list title="Waiting for validation" *ngIf="games" [games]="waitingGames"></game-list>
		<game-list title="Waiting for evaluation" *ngIf="games" [games]="forEvaluationGames"></game-list>
	</tab>
</tab-holder>