<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<img class="img-responsive fade-in" src="assets/img/ic_app.png">
	</div>
	<div class="col-sm-4"></div>
</div>
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		Welcome Guardian! Please enter your secret code:
	</div>
	<div class="col-sm-4"></div>
</div>
<div>&nbsp;</div>
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<a class="mbtn mbtn-psn" routerLink="/main/home">PSN</a>
	</div>
	<div class="col-sm-4"></div>
</div>
<div>&nbsp;</div>
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<a class="mbtn mbtn-live" routerLink="/main/home">LIVE</a>
	</div>
	<div class="col-sm-4"></div>
</div>
