<form class="fade-in"  *ngIf="members">
	<div class="blue-title">Game information</div>
	<div class="form-group">
		<label class="control-label" for="type">Type:</label>
			<select [(ngModel)]='selectedType' (change)="onChange($event.target.value)" class="form-control" id="gameType" name="gameType">
				<option *ngFor="let type of types | orderbyName: 'type.en'" value={{type.id}}>{{type.en}}</option>
			</select>
	</div>
	<div class="form-group">
		<label class="control-label" for="game">Game:</label>
			<select [(ngModel)]='selectedEvent' (change)="onEventSelected()" class="form-control" id="game" name="game">
				<option *ngFor="let event of events | orderbyName: 'event.en'" [ngValue]="event">{{event.en}}</option>
		</select>
	</div>
	<div class="blue-title">Day and time</div>
	<div class="form-group">
    	<label class="control-label" for="date">Date:</label>
      		<input #date type="date" class="form-control" id="date" placeholder="Enter date" [value]="selectedDate | date: 'yyyy-MM-dd'" (blur)="onDateChange(date.value)">
  	</div>
	<div class="form-group">
    	<label class="control-label" for="time">Time:</label>
      		<input #time type="time" class="form-control" id="time" placeholder="Enter time" [value]="selectedTime" (blur)="onTimeChange(time.value)">
  	</div>
  	<div class="blue-title">Other</div>
	<div class="form-group">
    	<label class="control-label" for="light">Light:</label>
      		<input #light type="number" class="form-control" id="light" max="400" placeholder="Max 400" [value]="selectedLight" (blur)="onLightChange(light.value)">
  	</div>
	<div class="form-group">
    	<label class="control-label" for="comment">Comment:</label>
      		<input #comment type="text" class="form-control" id="comment" maxlength="60" placeholder="Optional" (blur)="onCommentChange(comment.value)">
  </div>
  	<div class="blue-title">Slots</div>
	<div class="form-group">
    	<label class="control-label" for="members">Invite a member (Optional):</label>
					<select [(ngModel)]='selectedMember' (change)="inviteMember()" class="form-control" id="members" name="members">
						<option *ngFor="let member of members | orderMembyName: 'member.name'" [ngValue]="member">{{member.name}}</option>
					</select>
  </div>
	<div class="form-group fade-in" *ngIf="invitedMembers.length > 0">
		<label class="control-label" for="invited">Available slots ({{slotsUsed}} of {{slotsAvailable}}):</label>
		<invited-member-list (changeMember)="changeMember($event)" [members]="invitedMembers"></invited-member-list>
	</div>
	<div class="col-sm-12" style="text-align: center; padding-bottom: 32px">
			<a [ngClass]="{'mbtn-enabled': btnActive, 'mbtn-disabled': !btnActive}" (click)="createEvent()">{{btnMessage}}</a>
	</div>

</form>
