<div class="fade-in" style="padding-top: 32px;">
	<div class="orange-title">Application</div>
	<p>&nbsp;</p>
	<p class="item-subtitle">Version</p>
	<p class="item-creator">1.0.0 Beta</p>
	<div class="orange-title">Developers</div>
	<p>&nbsp;</p>
	<p class="item-subtitle">Client</p>
	<p class="item-creator">Lucas Sene Grandchamp</p>
	<p>&nbsp;</p>
	<p class="item-subtitle">Server</p>
	<p class="item-creator">Fernando Rufino Fontoura</p>
	<div class="orange-title">Contact</div>
	<p>&nbsp;</p>
	<a href="mailto:thebunker.contact@gmail.com" target="_blank">
		<p class="item-subtitle">E-mail</p>
		<p class="item-creator">thebunker.contact@gmail.com</p>
	</a>
	<div class="orange-title">Other</div>
	<p>&nbsp;</p>
	<a href="https://www.patreon.com/thebunker" target="_blank">
		<p class="item-subtitle">Patreon</p>
		<p class="item-creator">Support The Bunker</p>
	</a>
	<p>&nbsp;</p>
	<a href="https://thebunkerapp.wordpress.com/privacy-policy/" target="_blank">
		<p class="item-subtitle">Privacy Policy</p>
		<p class="item-creator">Know what we do with your data</p>
	</a>
	<p>&nbsp;</p>
	<a href="https://thebunkerapp.wordpress.com" target="_blank">
		<p class="item-subtitle">About & Help</p>
		<p class="item-creator">Visit our website to know more</p>
	</a>
</div>