<form class="fade-in">
		<div class="form-group">
		<label class="control-label" for="type">Game status:</label>
			<select [(ngModel)]='selectedStatus' (change)="onChange($event.target.value)" class="form-control" id="gameStatus" name="gameStatus">
				<option value="99">All</option>
				<option *ngFor="let status of statuses" value={{status.status}}>{{status.en}}</option>
			</select>
	</div>
</form>
<game-list title="Available events" *ngIf="games" [games]="filteredList"></game-list>
<h3 *ngIf="!games">Carregando...</h3>
