<form class="fade-in">
		<div class="form-group" style="padding-left: 16px; padding-right: 16px;">
		<label class="control-label" for="type">Game status:</label>
			<select [(ngModel)]='selectedStatus' (change)="onChange($event.target.value)" class="form-control" id="gameStatus" name="gameStatus">
				<option value="99">All</option>
				<option *ngFor="let status of statuses" value={{status.status}}>{{status.en}}</option>
			</select>
	</div>
</form>
<game-list (selectedGame)="selectedGame($event)" title="Available events" *ngIf="games && games.length > 0" [games]="filteredList"></game-list>
<div *ngIf="!filteredList || filteredList.length < 1" class="empty-list">There is no events available in this status</div>
