<div class="game-list fade-in" style="padding-top: 32px">

  <div class ="medal-item" onerror=""[ngStyle]="{'background-image': 'url(assets/img/ic_created_medal.png'}">
    <div class="medal-list-left">
      <p class="item-subtitle" style="font-size: 1.2em">My game, my rules</p>
      <p class="item-creator" style="padding-top: 4px">Number of created games</p>
    </div>
    <div class="medal-list-right">
      <div class="stars-holder">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal">
      </div>
      <div class="medal-stats">{{profile.member.gamesCreated}}/{{nextGamesCreated}}
      </div>
    </div>
  </div>

  <div class ="medal-item" onerror=""[ngStyle]="{'background-image': 'url(assets/img/ic_played_medal.png'}">
    <div class="medal-list-left">
      <p class="item-subtitle" style="font-size: 1.2em">Player</p>
      <p class="item-creator" style="padding-top: 4px">Number of played games</p>
    </div>
    <div class="medal-list-right">
      <div class="stars-holder">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal">
      </div>
      <div class="medal-stats">{{profile.member.gamesPlayed}}/{{nextGamesPlayed}}
      </div>
    </div>
  </div>

  <div class ="medal-item" onerror=""[ngStyle]="{'background-image': 'url(assets/img/ic_eval_medal.png'}">
    <div class="medal-list-left">
      <p class="item-subtitle" style="font-size: 1.2em">Eye of the beholder</p>
      <p class="item-creator" style="padding-top: 4px">Evaluations made</p>
    </div>
    <div class="medal-list-right">
      <div class="stars-holder">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal">
      </div>
      <div class="medal-stats">{{profile.evaluationsMade}}/{{nextEvaluationsMade}}
      </div>
    </div>
  </div>

  <div class ="medal-item" onerror=""[ngStyle]="{'background-image': 'url(assets/img/ic_like_medal.png'}">
    <div class="medal-list-left">
      <p class="item-subtitle" style="font-size: 1.2em">The beloved one</p>
      <p class="item-creator" style="padding-top: 4px">Number of likes received</p>
    </div>
    <div class="medal-list-right">
      <div class="stars-holder">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal">
      </div>
      <div class="medal-stats">{{profile.member.likes}}/{{nextLikesReceived}}
      </div>
    </div>
  </div>

  <div class ="medal-item" onerror=""[ngStyle]="{'background-image': 'url(assets/img/ic_dislike_medal.png'}">
    <div class="medal-list-left">
      <p class="item-subtitle" style="font-size: 1.2em">Hated or feared?</p>
      <p class="item-creator" style="padding-top: 4px">Number of dislikes received</p>
    </div>
    <div class="medal-list-right">
      <div class="stars-holder">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal">
      </div>
      <div class="medal-stats">{{profile.member.dislikes}}/{{nextDislikedReceived}}
      </div>
    </div>
  </div>

  <div class ="medal-item" onerror=""[ngStyle]="{'background-image': 'url(assets/img/ic_crucible_medal.png'}">
    <div class="medal-list-left">
      <p class="item-subtitle" style="font-size: 1.2em">No pain, no gain</p>
      <p class="item-creator" style="padding-top: 4px">Crucible events played</p>
    </div>
    <div class="medal-list-right">
      <div class="stars-holder">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal">
      </div>
      <div class="medal-stats">{{cruciblePlayed}}/{{nextCruciblePlayed}}
      </div>
    </div>
  </div>

  <div class ="medal-item" onerror=""[ngStyle]="{'background-image': 'url(assets/img/ic_strike_medal.png'}">
    <div class="medal-list-left">
      <p class="item-subtitle" style="font-size: 1.2em">Striker</p>
      <p class="item-creator" style="padding-top: 4px">Strike events played</p>
    </div>
    <div class="medal-list-right">
      <div class="stars-holder">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal">
      </div>
      <div class="medal-stats">{{strikesPlayed}}/{{nextStrikesPlayed}}
      </div>
    </div>
  </div>

  <div class ="medal-item" onerror=""[ngStyle]="{'background-image': 'url(assets/img/ic_raid_medal.png'}">
    <div class="medal-list-left">
      <p class="item-subtitle" style="font-size: 1.2em">Space cowboy</p>
      <p class="item-creator" style="padding-top: 4px">Strike events played</p>
    </div>
    <div class="medal-list-right">
      <div class="stars-holder">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal-disabled">
        <img src='assets/img/ic_star.png' class="medal">
      </div>
      <div class="medal-stats">{{raidsPlayed}}/{{nextRaidsPlayed}}
      </div>
    </div>
  </div>


</div>
