<div class="game-list fade-in" style="padding-top: 32px">
  <div class ="medal-item" [ngStyle]="{'background-image': 'url(assets/img/' + medal.icon + ')'}" *ngFor="let medal of medals">
    <div class="medal-list-left">
      <p class="item-subtitle" style="font-size: 1.2em">{{medal.name}}</p>
      <p class="item-creator" style="padding-top: 2px">{{medal.desc}}</p>
    </div>
    <div class="medal-list-right">
      <div class="stars-holder">
        <img src='assets/img/ic_star.png' class="medal" [ngStyle]="{opacity: star.opacity}" *ngFor="let star of medal.stars.slice().reverse()">
      </div>
      <div class="medal-stats">{{medal.value}}/{{medal.next}}</div>
    </div>
  </div>
</div>
